#order {
  display:none;
}

body {
  margin-top:40px;
}

h1 {
  margin-right: 300px;
  text-align: center;
  font-size: 72px;
  text-decoration: underline;
}

.pizzaLeft {
  float:left;
}

.pizzaRight {
  float:right;
  margin-top: -110px;
}

.quantityRow {
  text-align: center;
  font-size: 18px;
}
